* {
    font-family: 'Montserrat', ']Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.container-fluid {
    text-align: center;
}


/* Background-diferenciation */
.wrapper {
    background-color: #2AF;
    height: 500px;
}

.header {
    background-color: #8DA;
    height: 100px;
}

.weather-status {
    background-color: #F1C;
}

.weather-status i {
    background-color: #3AA98A;
    margin-bottom: 20px;
    height: 150px; 
    font-size: 140px;
}

.weather-status p {
    font-size: 40px;
}

.scale-wrapper {
    background-color: #FF1065;
    padding-bottom: 20px;
}

.scale-wrapper h3 {
    font-size: 120px;
}

.switch {
    background-color: #8DA;
    margin: 0 auto;
    width: 180px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
}

.switch span {
    font-size: 30px;
    padding: 20px;
}

.switch .active {
    position: relative;
    height: 60px;
    width: 60px;
    background-color: black;
    padding-top: 8px;
    border-radius: 30px;
    /* animation: animate-left 600ms;
    animation-timing-function: ease;  */
    transform: all 600ms ease;
}

.animate-left {
    animation: animate-left 600ms;
    animation-timing-function: ease; 
}

.animate-right {
    animation: animate-right 600ms;
    animation-timing-function: ease; 
}
@keyframes animate-left {
    from {
        left: 120px;
    }
    to {
        left: 0px;
    }
}

@keyframes animate-right {
    from {
        right: 120px;
    }
    to {
        right: 0px;
    }
}
/* ------------------------- */
@media only screen and (max-width : 990px) {
     .scale-wrapper {
         margin-left: 30px;
     }   
}
