* {
    font-family: 'Montserrat', ']Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

body {
    background-color: #34495e !important;
}

.container-fluid {
    text-align: center;
}


/* Background-diferenciation */
.wrapper {
    margin-top: 30px;
    height: 420px;
}

.header {
    height: 80px;
    margin-bottom: 20px;
}


/* .weather-status {} */

.weather-status i {
    margin-bottom: 20px;
    height: 150px; 
    font-size: 140px;
}

.weather-status p {
    font-size: 40px;
}

.scale-wrapper {
    padding-bottom: 20px;
}

.scale-wrapper h3 {
    font-size: 120px;
}

.switch {
    background-color: rgba(0, 0, 0, 0.16);
    margin: 0 auto;
    width: 180px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
}

.switch span {
    font-size: 30px;
    padding: 20px;
    cursor: pointer;
}

.switch .active {
    position: relative;
    height: 60px;
    width: 60px;
    background-color: #10CE6C;
    padding-top: 8px;
    border-radius: 30px;
    transform: all 600ms ease;
}

.animate-left {
    animation: animate-left 600ms;
    animation-timing-function: ease; 
}

.animate-right {
    animation: animate-right 600ms;
    animation-timing-function: ease; 
}

@keyframes animate-left {
    from {
        left: 120px;
    }
    to {
        left: 0px;
    }
}

@keyframes animate-right {
    from {
        right: 120px;
    }
    to {
        right: 0px;
    }
}

/* Developer section */
.developer {
    padding-top: 15px;
    font-weight: 400;
}

.developer a {
    color: #fff;
    transition: background .6s;
}

.developer a:hover {
    background-color: #000;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
    text-decoration: none;
    transition: background .6s;
}

/* -------------------------------- */
/* Different screens adaptations    */
/* -------------------------------- */


@media only screen and (min-width: 992px) {
    .row {
        position: relative;
        padding-left: 120px !important;
    }
    
    .header {
        margin-bottom: 50px !important;
    }

    .header h1 {
        font-size: 45px;
    }
}


@media only screen and (max-width : 990px) {
     .scale-wrapper {
         margin-left: 30px;
     }   

     .header {
        margin-bottom: 50px;
     }
}
